mdtraj
pyyaml>=6.0
ruamel.yaml # mostly because it support scientific notation
pytorch-lightning == 1.6.5
jsonargparse[signatures]==4.7.3
tqdm
ase
e3nn
networkx
numpy
h5py
scipy
scikit-learn
ipython
# developer tools
pytest
coverage[toml]
black[jupyter]
torch_optimizer
