mdtraj
pyyaml>=6.0
 # `ruamel.yaml` used mostly because it support scientific notation
ruamel.yaml
pytorch_lightning == 1.9.4
jsonargparse[signatures]==4.20.0
tqdm
ase
e3nn
networkx
numpy
h5py
scipy
scikit-learn
ipython
torch_optimizer
# developer tools
pytest
coverage[toml]
black[jupyter]

