mdtraj
pyyaml>=6.0
ruamel.yaml # mostly because it support scientific notation
pytorch-lightning[extra] >= 1.5.0
tqdm
ase
e3nn
numpy
scipy
scikit-learn
e3nn
ipython
# developer tools
pytest
coverage[toml]
black[jupyter]